.container{
  display: grid;
  grid-template-areas: 
    "header header"
    "content1 side"
    "content2 side"
    "footer footer";
  grid-gap: 8px;
  grid-template-columns: auto max-content ;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}

body
{
  background-color: #ffff9e;
}

#green{
  grid-area: footer;
  border-color: #7bf489;
}

#red{
  grid-area: side;
  border-color: #ff5c5c;
}

#yellow{
  grid-area: content1;
  border-color: #fbff00;
}

#darkYellow{
  grid-area: content2;
  border-color: #8c8e01;
}

#cyan{
  border-color: #49d9fd;
}

#purple{
  grid-area: header;
  border-color: #fd49fd;
}

.box{
  border: 5px solid #000000 ;
  padding: 5px;
  margin: 10px;
}